/* Estilos globais para o site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Estilo para o corpo da página */
/* Adicione este estilo para centralizar o header */
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
  width: 100%; /* Largura máxima para garantir que fique centralizado */
  background-color: #333; /* Cor de fundo do header */
  color: #fff; /* Cor do texto */
  padding: 1rem 0; /* Espaçamento interno */
}

body {
  background-color: rgb(188, 188, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  /* ... outras propriedades ... */
  animation: pulse 10s infinite;
}

@keyframes pulse {
  50% {
    background-color: rgb(41, 9, 52);
  }
}

.hide {
  display: none !important;
}

.container {
  min-width: 400px;
  min-height: 400px;
  background-color: rgb(73, 73, 107);
  padding: 2rem;
}

header {
  text-align: center;
  color: aquamarine;
}

/* IMC form */

#calc-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: aliceblue;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 2rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
  color: rgb(173, 197, 218);
}

.form-control input {
  padding: 1rem 0.5rem;
}

.action-control {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

button {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: rgb(90, 34, 44);
  border: none;
  color: rgb(209, 228, 221);
  cursor: pointer;
  opacity: 0.9;
  flex: 1;
}

button:hover {
  opacity: 1;
  background-color: rgb(92, 4, 46);
}

#clear-btn {
  background-color: rgb(53, 62, 62);
}

#clear-btn:hover {
  background-color: rgb(1, 68, 71);
  opacity: 1;
}

/* Tables */
#result-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#imc-number {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

#imc-info {
  font-size: 1.4rem;
  color: antiquewhite;
}

#result-container h3 {
  margin-top: 1rem;
  color: rgb(228, 209, 185);
}

#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.table-header,
.table-data {
  font-weight: bold;
  color: rgb(136, 179, 179);
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
}

.table-header h4,
.table-data p {
  flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
}

.good {
  color: rgb(5, 137, 64);
}

.low {
  color: rgb(233, 223, 25);
}

.medium {
  color: rgba(195, 97, 28, 0.825);
}

.high {
  color: rgb(126, 5, 5);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo levemente opaco */
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
